@model GameDisplayResponse
@{
    ViewData["Title"] = "GameDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="true">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src=@Model.Images.Last() class="d-block w-100" alt=@Model.Title>
        </div>
        @foreach(var imageUrl in Model.Images)
        {
            <div class="carousel-item">
                <img src=@imageUrl class="d-block w-100" alt=@Model.Title>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

@section Scripts{
    <script>
        const myCarouselElement = document.querySelector('#carouselExampleAutoplaying')

        const carousel = new bootstrap.Carousel(myCarouselElement, {
            interval: 3000,
            touch: false
        })
    </script>
}
