
@{
    ViewData["Title"] = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center align-items-center" style="height:90vh;">
    <div class="text-center">
        <h1 class="text-danger fw-bold">Oooops</h1>
        <h5>404 - Sayfa bulunamadı</h5>
        <a class="btn btn-outline-secondary" asp-action="index" asp-controller="home"> Anasayfaya git</a>
    </div>
</div>
